extends layout

block content
  h1 Lead
  p 
   span #{lead.email}

   a(href="/leads/" + lead.id + "/edit") Edit
   form(action="/leads/" + lead.id + "/delete",method="POST")
      button(type="submit") Delete